<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Name</key>
	<string>paste to Vim</string>
	<key>Extension Description</key>
	<string></string>
	<key>Extension Identifier</key>
	<string>com.my_name.popclip.extension.paste-in-vim</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>Title</key>
			<string>paste to Vim</string>
			<key>Image File</key>
			<string>my_icon.png</string>
			<key>AppleScript File</key>
			<string>my_scirpt.applescript</string>
		</dict>
	</array>
</dict>
</plist>
